In [1]:
%pylab inline
%config InlineBackend.figure_format = 'retina'

import sqlutilpy
import pandas as pd
import seaborn as sns

from wsdb import HOST, USER, PASSWORD
from src.classPatchMWSatellite import *

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('ori-dwarfs/ori-dwarfs.csv').drop(columns=['Unnamed: 0'])
df.sample(3)

,GalaxyName,RA_deg,Dec_deg,Distance_pc,rh(arcmins),rh_deg,rh_pc
39,Reticulum2,53.925417,-54.049167,30199.517204,3.64,0.060667,31.976248
5,CanesVenatici(I),202.014583,33.555833,217770.977235,8.90,0.148333,563.788384
45,Sextans(I),153.262500,-1.614722,85901.352151,27.80,0.463333,694.657794

In [3]:
target = df.loc[df['GalaxyName'] == 'TucanaV']
print(target)
print(' ')
print('rh of ' + target.iloc[0]['GalaxyName'] + ' is %0.2f pc' % target.iloc[0]['rh_pc'])

   GalaxyName  RA_deg  Dec_deg   Distance_pc  rh(arcmins)    rh_deg      rh_pc
50    TucanaV  354.35   -63.27  55207.743928          1.0  0.016667  16.059282

rh of TucanaV is 16.06 pc

In [4]:
DATABASE = 'gaia_dr2.gaia_source'
CATALOG_STR = 'ra, dec, phot_g_mean_mag, astrometric_excess_noise'

In [5]:
Patch = PatchMWSatellite(target.iloc[0]['GalaxyName'], 
                         target.iloc[0]['RA_deg'], 
                         target.iloc[0]['Dec_deg'], 
                         target.iloc[0]['Distance_pc'], 
                         2. * target.iloc[0]['rh_deg'], 
                         DATABASE, 
                         CATALOG_STR)
Patch.__str__()

'This is a PatchMWSatellite object:\n    name = TucanaV\n    ra = 354.35\n    dec = -63.27\n    map width = 0.03333333333333333 deg\n    database = gaia_dr2.gaia_source\n'

In [6]:
Patch.sql_get(HOST, USER, PASSWORD)

Querying data in the patch using sqlutilpy.get():
    2 sources are queried

In [7]:
print('phot_g_mean_mag')
print(Patch.datas['phot_g_mean_mag'])
print(' ')
print('astrometric_excess_noise')
print(Patch.datas['astrometric_excess_noise'])

phot_g_mean_mag
[20.4352 13.2199]

astrometric_excess_noise
[9.89963274 0.        ]

In [8]:
Patch.mask_cut('phot_g_mean_mag', 17, 21)
Patch.mask_g_mag_astro_noise_cut()

Applying a cut: 17 < phot_g_mean_mag < 21:
    1 sources left

Applying astrometric_excess_noise and phot_g_mean_mag cut.
    0 sources left